.report-container {
    font-family: Arial, sans-serif;
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #aaa;
    padding-bottom: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.datetime {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.datetime select, .datetime input[type="time"] {
    flex: 1;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-container button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
}

.btn-cancel {
    background-color: #f44336;
    color: white;
}

.btn-submit:hover {
    background-color: #45a049;
}

.btn-cancel:hover {
    background-color: #e53935;
}

@media (max-width: 400px) {
    .datetime {
        flex-direction: column;
    }

    .btn-container {
        flex-direction: column;
    }

    .btn-container button {
        width: 100%;
    }
}